<div class="autumn-top min-h-screen flex flex-col items-center justify-center">
  <h1 class="text-7xl text-amber-500 font-bold mb-16">羊さんの洋服作り</h1>

  <div class="space-x-6">
    <%= link_to "遊び方", "usage",
      class: "px-12 py-6 bg-red-400 hover:bg-red-500 rounded-xl text-xl text-white font-semibold transition" %>

    <%= link_to "ゲームを始める", "games",
      class: "px-12 py-6 bg-yellow-400 hover:bg-yellow-500 text-gray-900 rounded-xl text-lx text-white font-bold transition" %>
  </div>
</div>